In [1]:
#Checking the data type and missing value
import pandas as pd

df=pd.read_csv('HW1.csv', header=0)
cols=df.columns
print(type(df))
print('\nColumnName, DataType, MissingValues')
for i in cols:
    print(i, ',', df[i].dtype,',',df[i].isnull().any())

<class 'pandas.core.frame.DataFrame'>

ColumnName, DataType, MissingValues
Cust ID , int64 , False
Gender , object , False
Income , int64 , False
Age , int64 , False
Rentals , int64 , False
Avg Per Visit , float64 , False
Incidentals , object , False
Genre , object , False

In [2]:
#quention b
from statistics import mean 
print((df.Income-min(df.Income))/(max(df.Income)-min(df.Income))*(5-1)+1)

0     3.000000
1     3.409091
2     2.409091
3     3.636364
4     2.636364
5     1.772727
6     2.272727
7     4.318182
8     2.681818
9     3.909091
10    2.818182
11    2.136364
12    4.727273
13    3.000000
14    4.045455
15    1.727273
16    2.590909
17    1.227273
18    2.045455
19    1.500000
20    3.090909
21    2.090909
22    1.045455
23    4.545455
24    1.000000
25    3.500000
26    3.772727
27    3.545455
28    1.636364
29    2.818182
30    3.181818
31    3.090909
32    2.000000
33    2.272727
34    4.318182
35    2.272727
36    5.000000
37    2.818182
38    4.045455
39    1.727273
40    3.227273
41    2.409091
42    3.181818
43    2.545455
44    3.500000
45    3.545455
46    4.090909
47    3.318182
48    2.363636
49    2.045455
Name: Income, dtype: float64

In [3]:
#quention c
print(mean(df.Age))
std = df["Age"].std()
print(std)
print((df.Age-mean(df.Age))/std)

31.56
12.000272105758475
0    -0.546654
1     0.119997
2    -0.963311
3     3.203261
4     0.286660
5    -0.963311
6     1.119975
7    -0.546654
8    -0.879980
9     0.703317
10   -0.796649
11   -0.796649
12    1.203306
13    0.369992
14   -0.129997
15   -1.046643
16    0.286660
17   -1.296637
18   -0.546654
19   -1.296637
20    1.703295
21    0.119997
22   -1.379969
23    0.286660
24   -1.296637
25    0.286660
26    1.286637
27    1.703295
28   -1.129974
29   -0.546654
30    2.036620
31   -0.129997
32   -0.546654
33    0.036666
34   -0.213328
35   -0.879980
36    1.203306
37    0.536654
38    0.286660
39   -1.046643
40    0.119997
41   -0.546654
42   -0.296660
43   -0.629986
44    0.536654
45    0.953312
46    0.286660
47    1.286637
48   -0.546654
49   -0.963311
Name: Age, dtype: float64

In [4]:
#quention d
def Age_categorize(Age):
    if Age >=1 and Age <=20:
        return 'Young'
    elif Age >= 21 and Age <= 40:
        return 'MidAge'
    else:
        return 'Old'

df['Age_categorize']= df['Age'].apply(Age_categorize)
print(df[['Age', 'Age_categorize']])

    Age Age_categorize
0    25         MidAge
1    33         MidAge
2    20          Young
3    70            Old
4    35         MidAge
5    20          Young
6    45            Old
7    25         MidAge
8    21         MidAge
9    40         MidAge
10   22         MidAge
11   22         MidAge
12   46            Old
13   36         MidAge
14   30         MidAge
15   19          Young
16   35         MidAge
17   16          Young
18   25         MidAge
19   16          Young
20   52            Old
21   33         MidAge
22   15          Young
23   35         MidAge
24   16          Young
25   35         MidAge
26   47            Old
27   52            Old
28   18          Young
29   25         MidAge
30   56            Old
31   30         MidAge
32   25         MidAge
33   32         MidAge
34   29         MidAge
35   21         MidAge
36   46            Old
37   38         MidAge
38   35         MidAge
39   19          Young
40   33         MidAge
41   25         MidAge
42   28         MidAge
43   24         MidAge
44   38         MidAge
45   43            Old
46   35         MidAge
47   47            Old
48   25         MidAge
49   20          Young

In [5]:
#quention e
def Gender_catagory(Gender):
    if Gender == 'M':
        return '0'
    else:
        return '1'

def Incidental_Catagory(Incidentals):
    if Incidentals == 'Yes':
        return '0'
    else:
        return '1'
    
def Genre_catagory(Genre):
    if Genre == 'Action':
        return '1'
    elif Genre == 'Drama':
        return '2'
    else:
        return '3'

df['Gender_catagory']= df['Gender'].apply(Gender_catagory)
df['Incidental_Catagory']= df['Incidentals'].apply(Incidental_Catagory)
df['Genre_catagory']= df['Genre'].apply(Genre_catagory)
print(df[['Gender','Gender_catagory','Incidentals','Incidental_Catagory','Genre', 'Genre_catagory']])

   Gender Gender_catagory Incidentals Incidental_Catagory   Genre  \
0       M               0         Yes                   0  Action
1       F               1          No                   1   Drama
2       F               1          No                   1  Comedy
3       F               1         Yes                   0   Drama
4       M               0         Yes                   0  Action
5       M               0          No                   1  Action
6       F               1          No                   1   Drama
7       M               0         Yes                   0  Action
8       M               0          No                   1  Comedy
9       F               1          No                   1   Drama
10      F               1         Yes                   0   Drama
11      F               1         Yes                   0  Action
12      M               0          No                   1  Comedy
13      M               0          No                   1   Drama
14      M               0         Yes                   0  Comedy
15      M               0         Yes                   0  Action
16      M               0         Yes                   0   Drama
17      F               1         Yes                   0  Action
18      F               1          No                   1  Comedy
19      M               0         Yes                   0  Action
20      F               1          No                   1   Drama
21      M               0         Yes                   0   Drama
22      F               1          No                   1  Comedy
23      F               1         Yes                   0   Drama
24      M               0         Yes                   0  Comedy
25      F               1         Yes                   0  Action
26      F               1          No                   1   Drama
27      M               0          No                   1  Comedy
28      F               1         Yes                   0  Action
29      M               0         Yes                   0  Action
30      F               1          No                   1  Comedy
31      M               0         Yes                   0   Drama
32      M               0          No                   1  Action
33      F               1         Yes                   0  Action
34      M               0         Yes                   0  Action
35      F               1          No                   1  Comedy
36      M               0          No                   1  Comedy
37      M               0         Yes                   0   Drama
38      F               1          No                   1  Comedy
39      M               0          No                   1  Action
40      F               1          No                   1   Drama
41      M               0         Yes                   0  Action
42      F               1         Yes                   0   Drama
43      M               0          No                   1   Drama
44      M               0         Yes                   0   Drama
45      F               1          No                   1   Drama
46      F               1         Yes                   0   Drama
47      F               1          No                   1   Drama
48      M               0         Yes                   0  Action
49      M               0          No                   1  Action

   Genre_catagory
0               1
1               2
2               3
3               2
4               1
5               1
6               2
7               1
8               3
9               2
10              2
11              1
12              3
13              2
14              3
15              1
16              2
17              1
18              3
19              1
20              2
21              2
22              3
23              2
24              3
25              1
26              2
27              3
28              1
29              1
30              3
31              2
32              1
33              1
34              1
35              3
36              3
37              2
38              3
39              1
40              2
41              1
42              2
43              2
44              2
45              2
46              2
47              2
48              1
49              1

In [6]:
#quention Q3(2)
correlations = df.corr()
print(correlations)
#Age and income have a strong correlation with rentals.

                Cust ID    Income       Age   Rentals  Avg Per Visit
Cust ID        1.000000  0.061042  0.008050 -0.013263      -0.047075
Income         0.061042  1.000000  0.627013 -0.274873       0.305221
Age            0.008050  0.627013  1.000000 -0.549611       0.397372
Rentals       -0.013263 -0.274873 -0.549611  1.000000       0.070302
Avg Per Visit -0.047075  0.305221  0.397372  0.070302       1.000000

In [9]:
#quention Q3(3)
from scipy.stats import chi2_contingency
from scipy.stats import f_oneway

categorical_vars = ['Gender', 'Incidentals']
for var in categorical_vars:
    contingency = pd.crosstab(df['Genre'], df[var])
    chi2, p, _, _ = chi2_contingency(contingency)
    print(f"Genre and {var}: p-value= {p}")

variables = ['Income', 'Age', 'Rentals', 'Avg Per Visit']
for var in variables:
    groups = [df[df['Genre'] == g][var] for g in df['Genre'].unique()]
    f_statistic, p_value = f_oneway(*groups)
    print(f"Genre and {var}: p-value = {p_value}")
# if p-value is less than 0.05, then we can conclude that they have a dependency with "Genre"
# In conclusion, Income, Age, Rental, and Incidentals have a dependency with genre.

Genre and Gender: p-value= 0.0712183345666597
Genre and Incidentals: p-value= 0.004457775460265333
Genre and Income: p-value = 0.029337916333349683
Genre and Age: p-value = 0.0005550099142521056
Genre and Rentals: p-value = 0.049974070580121745
Genre and Avg Per Visit: p-value = 0.5517810497410538